<button mat-icon-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
</button>
<div class="auth">
    <div class="form-flex-container">
        <img class="logo" src="/assets/ycyw_logo.png" alt="logo" />
        <h1>Se connecter</h1>
        <form class="auth-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field appearance="outline" class="w100p">
                <mat-label>E-mail ou nom d'utilisateur</mat-label>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w100p">
                <mat-label>Mot de passe</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Se connecter</button>
        </form>
    </div>
</div>