<div class="live-chat">
    <mat-nav-list class="users-online">
        @for(user of users; track user.id) {
            <a mat-list-item (click)="onChatUserClick(user)">
            @if(user.role=="CUSTOMER_SERVICE") {
                <mat-icon>support_agent</mat-icon>
            }
            @else {
              <mat-icon>person</mat-icon>
            }
              {{ user.name}}
            </a>
        }
    </mat-nav-list>
    <div class="discussion">
    @if(to != null) {
        <div class="message-list">
            @for(message of messages; track message.at) {
            <mat-card color="tertiary" appearance="outlined" class="custom-mat-card">
                <mat-card-header class="dateAuthor">
                    <span>{{message.from.firstName}} {{message.from.lastName}}</span>
                    <span i18n>At</span>
                    <span>{{message.at | date}}</span>
                </mat-card-header>
                <mat-card-content>
                    {{message.content}}
                </mat-card-content>
            </mat-card>
            }
        </div>
        <form class="message-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field appearance="outline" class="w100p">
                <input matInput placeholder="" formControlName="message">
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid" i18n>Send</button>
        </form>
    }
    </div>
</div>