/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  margin: 1em;
}

.form-flex-container form.auth-form  {
  max-width: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

}

.formflex-container>* {
  flex: 1 1 0;
  max-width: 80vw;
}

.logo {
  width: 20em;
}

.w100p {
  width: 100%;
}

.auth {
  display: flex;
  justify-content: center;
}